@import './app.theme.css';
/*place global styles here */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Red+Hat+Text&display=swap');

html,
body,
#svelte {
	@apply h-full overflow-hidden min-h-screen;
}

body {
	@apply min-h-screen
  cursor-auto
  font-sans 

  bg-[radial-gradient(222.14%_100%_at_50.03%_100%,_var(--tw-gradient-stops))] 
  from-accent-200
  to-primary-100


  dark:bg-[radial-gradient(222.14%_100%_at_50.03%_100%,_var(--tw-gradient-stops))] 
  dark:from-[#213253] dark:to-accent-700;
}

/* #svelte {
	@apply grid grid-rows-[auto_1fr] max-w-7xl mx-auto;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading font-bold dark:text-accent-200;
}

h1 {
	@apply text-6xl;
}

h2 {
	@apply text-4xl;
}

/* all links, overwrite skeleton */
a:not(.unstyled):not(.btn):not(.btn-icon):not(.app-bar a):not(.logo-item):not(.card):not(
		.list-nav a
	),
a,
a.app-bar {
	@apply text-accent-700 dark:text-white hover:text-primary-900 decoration-primary-400 dark:hover:text-primary-100 border-b-0 border-transparent transition-all inline-block decoration-wavy leading-6;
	text-underline-offset: 4px;
}
